.pokedex{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(300px, 400px) repeat(2, 1fr);
}
.pokedex__title1{
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: center;
}
.pokedex__title_image{
    align-self: center;
    margin-top: 20px;
    height: 70%;
    width: 60%;
    filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.5));
}
.pokedex__body{
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    align-items: center;
    gap: 10px;
}
.pokedex__title2{
    font-size: 2em;
}
.pokedex__instructions{
    margin-top: 50px;
    font-weight: 500;
    color: rgba(255, 0, 0, 0.7);
}
.pokedex__form{
    display: flex;
    width: 80%;
    height: 15%;
    justify-content: center;
}
.pokedex__input{
    outline: none;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    border: solid rgba(255, 0, 0, 0.7);
    background: rgba(255, 0, 0, 0.1);
    width: 60%;
    font-size: 20px;
    border-right: 0;
    padding: 0 0 0 20px;
    caret-color: red;
}
.pokedex__button{
    width: 5em;
    background: rgba(255, 0, 0, 0.1);
    color: black;
    font-weight: 600;
    border: solid rgba(255, 0, 0, 0.7);
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
}
.pokedex__button:hover{
    background: red;
    color: white;
    border: solid red;
}
.pokedex__footer{
    display: flex;
    align-items: end;
    width: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
}
.pokedex__footer>img{
    height: 40%;
}