.pokedex {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(200px, 300px) 1fr 300px;
}
.pokedex__title1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  align-items: center;
}
.pokedex__title_image {
  align-self: center;
  margin-top: 20px;
  height: 50%;
  width: 40%;
  filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.5));
}
.pokedex__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 1/2;
  grid-row: 2/3;
  align-items: center;
  gap: 10px;
}
.pokedex__title2 {
  font-size: 2em;
}
.pokedex__instructions {
  margin-top: 50px;
  font-weight: 500;
  color: rgba(255, 0, 0, 0.7);
  font-size: 1.5em;
}
.pokedex__form {
  display: flex;
  width: 80%;
  height: 15%;
  justify-content: center;
}
.pokedex__input {
  outline: none;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border: solid rgba(255, 0, 0, 0.7);
  background: rgba(255, 0, 0, 0.1);
  width: 60%;
  height: 43px;
  font-size: 20px;
  border-right: 0;
  padding: 0 0 0 20px;
  caret-color: red;
}
.pokedex__button {
  width: 70px;
  height: 43px;
  background: rgba(255, 0, 0, 0.1);
  color: black;
  font-weight: 600;
  border: solid rgba(255, 0, 0, 0.7);
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}
.pokedex__button:hover {
  background: red;
  color: white;
  border: solid red;
}
.pokedex__footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column: 1/2;
  grid-row: 3/4;
  position: relative;
}
.imagen__footer__pokedex1 {
  width: 100%;
  height: 123px;
  position: absolute;
  bottom: 68px;
}
.imagen__footer__pokedex2 {
  width: 100%;
  height: 69px;
  position: absolute;
  bottom: 0;
}
.imagen__footer__pokedex3 {
  width: 117px;
  z-index: 8;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.imagen__footer__pokedex4 {
  width: 63px;
  z-index: 10;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (max-width: 800px) {
  .pokedex {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(200px, 250px) repeat(2, 1fr);
  }
  .pokedex__input,
  .pokedex__button {
    height: 40px;
  }
  .imagen__footer__pokedex1 {
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 38px;
  }
  .imagen__footer__pokedex2 {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
  }
  .imagen__footer__pokedex3 {
    width: 90px;
    z-index: 8;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
  .imagen__footer__pokedex4 {
    width: 50px;
    z-index: 10;
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translate(-50%);
  }
}
@media screen and (max-width: 500px) {
  .pokedex {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, 150px) 1fr 300px;
  }
  .pokedex__body,
  .pokedex__title2,
  .pokedex__instructions {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .pokedex__instructions {
    font-size: 1em;
  }

  .pokedex__form {
    margin: 0;
    font-size: 1em;
  }
  .pokedex__input {
    height: 40px;
    width: 100%;
    outline: none;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    border: solid rgba(255, 0, 0, 0.7);
    background: rgba(255, 0, 0, 0.1);
    font-size: 20px;
    border-right: 0;
    padding: 0 0 0 20px;
    caret-color: red;
  }
  .pokedex__button {
    height: 40px;
    width: 5em;
    background: rgba(255, 0, 0, 0.1);
    color: black;
    font-weight: 600;
    border: solid rgba(255, 0, 0, 0.7);
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
  }
  .imagen__footer__pokedex1 {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 38px;
  }
  .imagen__footer__pokedex2 {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
  }
  .imagen__footer__pokedex3 {
    width: 70px;
    z-index: 8;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
  .imagen__footer__pokedex4 {
    width: 40px;
    z-index: 10;
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translate(-50%);
  }
}
